@import url(https://fonts.googleapis.com/css?family=Raleway);
#apiEnquiryForm fieldset:not(:first-of-type) {
    display: none;
}

#apiEnquiryForm {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    background: #a0ce4e;
    color: #fff;
    padding-bottom: 45px;
}

#apiEnquiryForm a {
    color: #fff
}

#apiEnquiryForm input {
    color: #747474
}

#apiEnquiryForm * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#apiEnquiryForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(https://www.australianlendingcentre.com.au/wp-content/uploads/2017/07/dropdown_arrow.png) 95% no-repeat #fff!important
}

#apiEnquiryForm label {
    display: block;
    color: #fff;
    margin-bottom: 5px
}

#apiEnquiryForm label.radio {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    padding: 5px 20px;
    border: 1px solid #fff
}

#apiEnquiryForm input[type=radio] {
    display: none
}

#apiEnquiryForm input[type=radio]:checked+label {
    background-color: #008752
}

#apiEnquiryForm input[type=text], #apiEnquiryForm select, #apiEnquiryForm textarea {
    width: 100%;
    padding: 10px;
    background: #fff;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    color: #747474
}

#apiEnquiryForm input.postCode {
    width: 100%
}

#apiEnquiryForm select.landLineNumberAreaCode {
    width: 25%
}

#apiEnquiryForm input.landLineNumber {
    width: 70%;
    float: right
}

#apiEnquiryForm select.state {
    width: 100%
}

#apiEnquiryForm textarea {
    height: 50px
}

#apiEnquiryForm input[type=button] {
    -webkit-appearance: button;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
    background-color: #008752;
    border-radius: 0;
    color: #fff!important;
    font-size: 17px;
    height: 43px;
    line-height: 43px;
    padding: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    outline: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: none;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .19);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .19);
    margin-bottom: 5px
}

#apiEnquiryForm input[type=button]:hover {
    background-color: #02b56f
}

#apiEnquiryForm input[type=button]:active {
    position: relative;
    top: 1px
}

#apiEnquiryForm .ui-widget-content {
    border: 1px solid #fff;
    border-top: none;
    background: rgba(228, 228, 228, 0.7);
}

#apiEnquiryForm .ui-widget {
    font-family: Raleway, sans-serif;
}

#apiEnquiryForm .ui-state-default, #apiEnquiryForm .ui-state-active {
    border: none;
    background: #fff;
}

#apiEnquiryForm .ui-state-active {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

#apiEnquiryForm .ui-accordion .ui-accordion-header {
    font-size: 16px;
}

#apiEnquiryForm .ui-accordion .ui-accordion-content {
    padding: 0 15px 10px 15px;
}

#apiEnquiryForm #unsecuredDebtList input[type="text"]:read-only {
    background: #c7c2c2!important;
    color: #525151!important;
}

#apiEnquiryForm .wrongmessage {
    font-size: 16px;
    color: #a82d2d!important;
    font-weight: 600!important;
    padding: 5px 0;
}

.wrongmessagewrapper {
    position: absolute;
    width: 100%;
}

.unsecuredDebtTotal {
    width: 200px!important;
    float: left;
}

.unsecuredDebtTotalLabel {
    width: 50px!important;
    float: left;
    padding-top: 10px;
}

#unsecuredDebtTotal {
    background: transparent!important;
    width: 140px!important;
    text-align: left;
}

.noUnsecuredDebt {    
    font-weight: 700;
}

.squaredFour {
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}

.squaredFour label:after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredFour label:hover::after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked+label:after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    opacity: 1;
}

.squaredFour p {
    display: inline;
    padding-left: 10px;
}

.hidden {
    display: none;
}

.switch-field {
    overflow: hidden;
    margin-bottom: 10px;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left !important;
}

.switch-field label {
    display: inline-block !important;
    width: 60px !important;
    background-color: #e4e4e4 !important;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 14px !important;
    font-weight: normal !important;
    text-align: center !important;
    text-shadow: none !important;
    padding: 6px 14px !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: all 0.1s ease-in-out !important;
    -moz-transition: all 0.1s ease-in-out !important;
    -ms-transition: all 0.1s ease-in-out !important;
    -o-transition: all 0.1s ease-in-out !important;
    transition: all 0.1s ease-in-out !important;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #334a74 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: white !important;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px !important;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0 !important;
}

fieldset {
    border: 0;
}

.tooltip1 {
    position: relative;
    display: inline-block;
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #f0f0f0;
    color: #1f1f1f;
    text-align: left;
    border-radius: 0;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    line-height: 20px;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}